#app, #qaPage, #securityPage, #badExPage {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #7389AE;
  margin-top: 60px;
}
